# Instalacion de las dependencias

Django 
requests 


# Django REST Framework para crear APIs
djangorestframework 


Pillow

psycopg2-binary 

#para instalar las dependencias a ejecutar:
#pip install -r requirements.txt
